{
  "provider": "libvirt",
  "disks": [
    {
      "format": "qcow2",
      "path": "@@DISK1_FILENAME@@",
      "virtual_size": @@DISK1_CAPACITY@@
    },
    {
      "format": "qcow2",
      "path": "@@DISK2_FILENAME@@",
      "virtual_size": @@DISK2_CAPACITY@@
    }
  ]
}
