{
  "provider": "libvirt",
  "disks": [
    {
      "format": "qcow2",
      "path": "{{.disk1_filename}}",
      "virtual_size": {{.disk1_capacity}}
    },
    {
      "format": "qcow2",
      "path": "{{.disk2_filename}}",
      "virtual_size": {{.disk2_capacity}}
    }
  ]
}
